Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
Quake/*.o
Quake/*.d
Quake/*.res
Quake/*.exe
Quake/ironwail
/renderer_builtin_gl_plugin.obj
build/
/.vs
/out/
